.navbar {
  background-color: #fff !important;
}

.navbar-nav {
  width: 60%;
  align-items: center;
  justify-content: flex-end !important;
}

.navbar-nav a {
  color: #4f5665 !important;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.navbar-nav a.nav-link {
  padding: 0.5rem 2rem !important;
}

.navbar-collapse {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.btns {
  display: flex;
  gap: 20px;
}

.btns button {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  outline: none;
  background: none;
}

.btns button:hover {
  background-color: #fff !important;
}

.btns button:first-of-type {
  border: none;
  color: #0b132a;
}

.btns button:last-of-type {
  border: 1px solid #f53855;
  color: #f53855;
  border-radius: 50px;
  padding: 10px 35px;
  transition: all 0.3s ease-in-out;
}

.btns button:last-of-type:hover {
  background-color: #f53855 !important;
  border: 1px solid #f53855;
  color: #fff;
}


/* width 575px */

@media (max-width: 575px) {
  .navbar-collapse {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .navbar{
    padding: 1rem 0;
  }

  .btns{
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .btns button{
    border: none !important;
    color: #0b132a !important;
    background-color: none !important;
    color: #4f5665 !important;
  }

.btns button:last-of-type:hover{
    background-color: #fff !important;
  }

  .navbar-nav a:hover,
  .btns button:hover{
    color: #f53855 !important;
  }
}

/* width 991px */

@media (max-width: 991px){
    .navbar{
    padding: 1rem 0;
  }

  .btns button:last-of-type:hover{
    background-color: #fff !important;
  }

  .navbar-nav a:hover,
  .btns button:hover{
    color: #f53855 !important;
  }
    .navbar-collapse {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
    .btns button{
    border: none !important;
    color: #0b132a !important;
    background-color: none !important;
    color: #4f5665 !important;
  }

.btns button:last-of-type:hover{
    background-color: #fff !important;
  }
    .btns{
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}
